# URL de conexión a la Base de Datos
DATABASE_URL="postgresql://rememberme_app:RemMe_AppP@ss_2026!@db:5432/remembermed?schema=rememberme"

# Secreto para firmar tokens JWT
JWT_SECRET="your-super-secret-jwt-key-here"

# Puerto en el que corre la API
PORT=3001
